.genres{
    font-size: 15px;
}
.date{
    font-size: 10px;
}
.reco{
    padding: 100px;
}
.cr{
    cursor: pointer;
}
.img1{
    width: 100px;height: 30px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

