<nav class="navbar zIndex px-3 bg-color navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">OXO Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-flex ms-auto align-items-center gap-3">
        <a class="nav-link text-white" routerLinkActive="bg-danger rounded" routerLink="/home" style="padding:  8px;">
          home
        </a>

        <a class="nav-link position-relative" routerLinkActive="text-danger" routerLink="/Watch" style="color: black; font-size: 1.5rem; position: relative; padding: 0 10px;">
          <i class="fas fa-heart"></i>

          <span *ngIf="WatchList.getWishlist().length > 0"
          class=" badge rounded-pill bg-danger">
      {{ WatchList.getWishlist().length }}
    </span>
        </a>

        <form class="d-flex align-items-center" (submit)="onSearch($event, searchInput.value)">
          <input
            #searchInput
            class="form-control me-2"
            type="search"
            placeholder="Search by name"
            aria-label="Search"
          />
          <button class="btn btn-outline-light d-flex justify-content-center align-items-center" type="submit" style="min-width: 80px;">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
