<div class="container my-5 text-center">
    <h1 class=""></h1>
  <h2 class="text-center w-100 overflow-hidden mb-5 "><i class="fas fa-heart d-inline text-danger"></i> My Watchlist</h2>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let movie of movies">
      <div class="card h-100 shadow-sm">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top" alt="{{ movie.title }}">

        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title d-inline overflow-hidden">{{ movie.title }}</h5>
       
          <p class="card-text">
            Rating: <strong>{{ movie.vote_average | votePercent }}</strong>
          </p>
             <p class="text-black-50 ps-2">{{movie.release_date}}</p>
          <button (click)="removeFromWatchlist(movie.id)" class="btn btn-outline-danger mt-auto">
            <i class="fas fa-trash-alt me-1"></i> Remove
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="movies.length === 0" class="alert alert-info text-center mt-4">
    <i class="fas fa-info-circle me-2"></i> No movies in your watchlist yet.
  </div>
</div>
